.cold {
    background: url("../img/svg/cold-bg.svg") center bottom no-repeat;
    background-size: cover;
    padding-top: 52px;
    padding-bottom: 22px;
    position: relative;
}
@media screen and (max-width: 992px) {
    .cold {
        padding-bottom: 69px;
        background: url("../img/svg/cold-bg-tablet.svg") center bottom no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 670px) {
    .cold {
        padding-bottom: 87px;
        background: url("../img/svg/cold-bg-mob.svg") center bottom no-repeat;
        background-size: cover;
    }
}

.cold:after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--color-white);
    bottom: 0;
    display: block;
    position: absolute;
}

.cold__title {
    margin-bottom: 60px;
}
@media screen and (max-width: 992px) {
    .cold__title {
        margin-bottom: 40px;
    }
}

.cold__content {
    background: var(--color-white);
    padding: 40px;
    display: grid;
    gap: 40px;
    margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
    .cold__content {
        padding: 27px 24px;
        gap: 20px;
    }
}
@media screen and (max-width: 670px) {
    .cold__content {
        padding: 27px 16px;
    }
}

.cold__desc p:not(:last-child) {
    margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
    .cold__desc p:not(:last-child) {
        margin-bottom: 15px;
    }
}

.cold__imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
@media screen and (max-width: 992px) {
    .cold__imgs {
        gap: 16px;
    }
}
@media screen and (max-width: 670px) {
    .cold__imgs {
        grid-template-columns: repeat(2, 1fr);
    }
}

.cold__steps {
    list-style: none;
    counter-reset: cold-counter;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 36px;
    column-gap: 40px;
}
@media screen and (max-width: 992px) {
    .cold__steps {
        gap: 14px;
    }
}
@media screen and (max-width: 670px) {
    .cold__steps {
        grid-template-columns: 1fr;
    }
}

.cold__step {
    position: relative;
    counter-increment: cold-counter;
}

.cold__step:before {
    content: counter(cold-counter);
    position: absolute;
    z-index: 99;
    width: 69px;
    height: 92px;
    display: flex;
    justify-content: center;
    background: var(--grad-gold-1);
    color: var(--color-black);
    border-radius: 20px;
    font-family: 'FoglihtenNo06', sans-serif;
    font-size: 64px;
    font-weight: 500;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}
@media screen and (max-width: 992px) {
    .cold__step:before {
        width: 55px;
        height: 72px;
        font-size: 48px;
    }
}

.cold__step-content {
    min-height: 160px;
    margin-left: 34px;
    padding: 23px 21px 23px 64px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 992px) {
    .cold__step-content {
        padding: 20px 20px 20px 38px;
    }
}

.cold__info {
    padding: 43px 51px 51px;
    border-color: var(--color-white);
    box-shadow: 0 0 25px rgba(209, 186, 152, 0.5);
    background: linear-gradient(135deg, #E9C999, #F0D6AF 51%, #FDD593 100%);
    margin-bottom: -22px;
}
@media screen and (max-width: 992px) {
    .cold__info {
        padding: 20px;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 670px) {
    .cold__info {
        padding: 25px 17px;
        margin-bottom: 0;
    }
}

.cold__info-text {
    font-family: 'Cormorant', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    max-width: 1028px;
}
@media screen and (max-width: 992px) {
    .cold__info-text {
        font-size: 24px; 
    }
}
@media screen and (max-width: 992px) {
    .cold__info-text {
        font-size: 18px; 
    }
}

.cold__info-text p:not(:last-child) {
    margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
    .cold__info-text p:not(:last-child) {
        margin-bottom: 10px;
    }
}