.prices {
    padding-top: 140px;
    padding-bottom: 155px;
    position: relative;
    z-index: 10;
}
@media screen and (max-width: 768px) {
    .prices {
        padding-top: 60px;
        padding-bottom: 109px;
        background: url("../img/svg/prices-tablet-bg.svg") no-repeat center;
        background-size: cover;
    }
}
@media screen and (max-width: 670px) {
    .prices {
        padding-top: 60px;
        padding-bottom: 109px;
        background: url("../img/svg/prices-tablet-mobile-bg.svg") no-repeat center;
        background-size: cover;
    }
}
@media screen and (max-width: 375px) {
    .prices {
        padding-top: 60px;
        padding-bottom: 107px;
        background: url("../img/svg/prices-mobile-bg.svg") no-repeat center;
        background-size: cover;
    }
}

.prices:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: var(--color-black);
    z-index: -1;
}

.prices__bg {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
}
@media screen and (max-width: 768px) {
    .prices__bg {
        display: none;
    }
}

.prices__bg-top {
    background: url("../img/svg/prices-bg-top.svg") no-repeat top center;
    top: 0;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .prices__bg-top {
        background: none;
    }
}

.prices__bg-bot {
    background: url("../img/svg/prices-bg-bot.svg") no-repeat bottom center;
    bottom: 0;
    background-size: cover;
}
@media screen and (max-width: 768px) {
    .prices__bg-bot {
        background: none;
    }
}

.prices__title {
    position: relative;
}

.prices__items {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 60px;
}
@media screen and (max-width: 1200px) {
    .prices__items {
        gap: 24px;
    }
}
@media screen and (max-width: 992px) {
    .prices__items {
        margin-top: 0;
    }
}
@media screen and (max-width: 640px) {
    .prices__items {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}

.prices__item {
    position: relative;
}

.prices__item-content {
    max-width: 532px;
    padding: 40px 10px 58px;
    position: relative;
}
@media screen and (max-width: 1200px) {
    .prices__item-content {
        max-width: none;
        padding: 40px 40px 58px;
    }
}
@media screen and (max-width: 992px) {
    .prices__item-content {
        padding: 20px 20px 40px;
    }
}

.prices__item-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px; /* Скругленные углы */
    padding: 2px; /* Ширина границы */
    background: linear-gradient(360deg, rgba(232, 198, 149, 0.25) -3.63%, #DBB885 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude; /* Применение прозрачности к центру */
    -webkit-mask-composite: destination-out;
}
@media screen and (max-width: 992px) {
    .prices__item-content::before {
        border-radius: 24px;
    }
}

.prices__item-content > * {
    position: relative;
    z-index: 1;
}

.prices__item-content h3 {
    font-size: 48px;
    font-weight: 500;
    line-height: 61.87px;
    letter-spacing: 0.05em;
    margin-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}
@media screen and (max-width: 1200px) {
    .prices__item-content h3 {
        padding-right: 0;
        padding-left: 0;
    }
}
@media screen and (max-width: 992px) {
    .prices__item-content h3 {
        font-size: 24px;
        line-height: 30.94px;
        margin-bottom: 20px;
        max-width: 300px;
    }
}

.prices__item-cta {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.price__list {
    min-height: 463px;
    background: var(--color-white);
    position: relative;
    right: -78px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
@media screen and (max-width: 1200px) {
    .price__list {
        right: auto;
        justify-content: normal;
    }
}
@media screen and (max-width: 620px) {
    .price__list {
        padding: 26px 20px;
        height: auto !important;
        min-height: auto;
    }
}

.price__list h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
@media screen and (max-width: 992px) {
    .price__list h4 {
        font-size: 18px;
        line-height: 21.94px;
    }
}

.price__list p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: 0.05em;
}
@media screen and (max-width: 992px) {
    .price__list h4 {
        font-size: 14px;
        line-height: 17.07px;
    }
}

.price__list ul {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
    .price__list ul {
        font-size: 14px;
        line-height: 17.07px;
    }
}

.price__list mark {
    padding: 5px 10px;
    background: var(--color-gold);
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    letter-spacing: 0.05em;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}
@media screen and (max-width: 992px) {
    .price__list mark {
        font-size: 20px;
        line-height: 24.38px;
    }
}

.price__list mark small {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    letter-spacing: 0.05em;
}
@media screen and (max-width: 992px) {
    .price__list mark small {
        font-size: 14px;
        line-height: 17.07px;
    }
}

.price__list--var-1 {
    gap: 10px
}
@media screen and (max-width: 992px) {
    .price__list--var-1 {
        gap: 40px;
    }
}
@media screen and (max-width: 640px) {
    .price__list--var-1 {
        gap: 10px;
    }
}

.price__list--var-1 p {
    margin-bottom: 10px;
}

.price__list--var-1 mark {
    min-width: 190px;
}
@media screen and (max-width: 992px) {
    .price__list--var-1 mark {
        min-width: 172px;
    }
}

.price__list--var-2 {
    gap: 20px
}

.price__list--var-2 h4 {
    margin-bottom: 10px;
}

.price__list--var-2 p {
    margin-top: 10px;
}

.price__list--var-2 ul {
    margin: 0;
    padding-inline-start: 22px;
    list-style: none;
    margin-bottom: 10px;
}

.price__list--var-2 ul li {
    position: relative;
}

.price__list--var-2 ul li:before {
    content: ".";
    position: absolute;
    left: -10px;
    top: -4px;
    font-size: 16px;
    color: var(--color-black);
}

.price__list--var-2 mark {
    min-width: 250px;
}
@media screen and (max-width: 992px) {
    .price__list--var-2 mark {
        min-width: 210px;
    }
}

.brs-top {
    border-radius: 20px 20px 0 0 !important;
}

.brs-bot {
    border-radius: 0 0 20px 20px !important;
}